*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

   :root{   
            --background: #faf9f9;
            --primary-color: #2c5346;
            --primary-dark: #1a322a;
            --secondary-color: #6bb19a ;
            --text-dark: #1a1a1a;
            --text-light: #4c4d4f;
            --accent-color: #13c1fe;
}

body {
    background-color: var(--background);
}

.container{
    max-width: 1200px;
    margin: auto;
    padding-inline: 1rem;

}


section{
    padding-block: 3rem;
    /* min-height: 80vh; */
}


/*Footer SECTION*/


footer{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 0.5rem 1rem;

}


.flashsale{
    /* background-color: var(--secondary-color); */
    /* color: rgb(230, 190, 31); */
    color: transparent;
    background: linear-gradient(
        to right,
        var(--primary-color),
        var(--secondary-color)
        /* rgb(230, 190, 31),
        purple */

    );
    background-clip: text;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem 1rem;
}

/*HEADER SECTION*/
header{
    padding-block: 0.5rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.055);
    padding: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: white;



}

.header-items{
   
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}



nav{
    display: none;
}

nav a{
    text-decoration: none;
    color: var(--text-dark);
    padding: 0.25rem 0.5rem;
    transition: 0.5s;
}

nav a:hover{
    color: var(--primary-color);
}

.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo h1{
    font: 1.5rem;
    background: linear-gradient(
        to right,
        var(--primary-color),
        var(--secondary-color)
    );
    color: transparent;
    background-clip: text;
} 

.cart{

    padding: 0.25rem 1rem 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #efefef;
    color: white;
    height: auto;
    

}

.cart span{
    background-color: var(--primary-color);
    color: white;
    padding: 0.1rem 0.5rem;
    font-size: 0.5rem;
    border-radius: 0.5rem;
    
}

/*SECTION*/





/*Hero Section */

#hero{
    background-color: white;
}

.hero-box{
     display: grid;
     grid-template-columns: 1fr;
     gap: 2rem;
      
     
}


.hero-box img{
    max-width: 100%;
    width: auto;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px 6px rgba(0,0,0,0.2);
}

.hero-content .badge{
    color: var(--secondary-color);
    background-color: rgba(19, 193, 254,0.1);
    /* background-clip: text; */
    font-size: 0.75rem;
    font-weight: bold;
    padding-inline: 1rem;
    padding-block: 0.25rem;
    border-radius: 1rem;
    text-align: center;
}

.hero-content p{
    color: #1a1a1a;
    padding-block: 1rem;
    text-align: justify;
}

.hero-content h1 {
    margin-top: 0.5rem;
    color: var(--primary-color);
    line-height: 3rem ;
    font-size: 2rem;
}

.shop-btn{
    background-color: var(--primary-color);
    border: none;
    text-align: center;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.explore-btn{
    background-color: var(--background);
    border: 1px solid var(--primary-color);
    text-align: center;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.5s ease;
    margin-inline: 0.5rem;
    /* box-shadow: 2px 3px 5px  #000; */
}


.shop-btn:hover{
    background-color: var(--background);
    box-shadow: 2px 3px 5px  #000;
    color: var(--primary-color);
}

.explore-btn:hover{
    background-color: var(--primary-color);
    color: var(--background);
}


/*Benefits Style*/

#benefits h2{
    text-align: center;
    margin-bottom: 2rem;
}

.benefits-box{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.benefits-box .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

.benefits-box .card p {
    color: var(--text-light);
    text-align: center;
    font-size: 0.75rem;
}


.benefits-box .card span{
    font-size: 2rem;
}


.cta{
    background: linear-gradient(to right, var(--primary-color), var(--primary-dark));
    color: white;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.cta p {
    text-align: center;
}

.cta button{
    background-color: white;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.cta button:hover{
    background-color: var(--secondary-color);
    color: var(--background);
}


/*Featured Style*/


#featured h2{
text-align: center;
margin-bottom: 2rem;
}

.featured-box{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.featured-box .card{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 2px 2px 16px rgba(0,0,0,0.5);
   
}

.featured-box .card img{
    width: 100%;
    height: 14rem;
    object-fit: cover;
}

.featured-box .card .content .price{
    margin-block: 0.25rem;
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--primary-color);
}

.featured-box .card .content{
    background-color: white;
    padding: 0.75rem 1rem 1rem;

}

.featured-box .card .content button{
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 1rem;
    margin-top: 0.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--background);
    transition:  all 0.3s ease;
    cursor: pointer;

}


.featured-box .card .content button:hover{
    background-color: var(--primary-color);
}


/*Best Seller Style*/
#best-seller{
    background-color:   #fff;
}


.best-seller-box{
  background-color: rgba(26, 50, 42,0.4);
  padding: 2rem;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: center;
}

.best-seller-box img{
    max-width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    object-fit: cover;
}

.best-seller-box .content p{
    padding-block: 0.5rem;
    text-align: justify;

}

.best-seller-box .content h3{
    color: var(--primary-color);
    font-size: 1.2rem;
}

.best-seller-box .content button{
    background-color: var(--primary-color);
    border: none;
    text-align: center;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 1rem;
}








/* RESPONSIVE */


@media(min-width:512px){
    .benefits-box{
        grid-template-columns: 1fr 1fr;
    }

    .featured-box{
       grid-template-columns: 1fr 1fr;
    }

    .best-seller-box{
    grid-template-columns: 1fr 1fr;
       
    }

}

@media(min-width:768px){
    nav{
        display: flex;
        gap: 0.5rem 0.5rem;
    }

    .hero-box{
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .hero-content h1{
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .benefits-box{
        grid-template-columns: repeat(4, 1fr);
    }

    .featured-box{
       grid-template-columns: repeat(3, 1fr);
    }
    
    .best-seller-box{
        gap: 2rem;
        padding-inline: 3rem;
    }

}



@media(min-width:1200px){
 

    .hero-box{
       gap: 4rem;

    }

    .hero-content h1{
        font-size: 3.5rem;
    }

    .featured-box{
       grid-template-columns: repeat(4, 1fr);
    }



}

